/*公共样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(../image/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    height: 50px;
    color: white;
    background-color: rgba(50, 50, 50, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav *:not(img) {
    font-weight: bold;
}

.nav img {
    height: 32px;
    width: 32px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
}

.nav .space {
    width: 65%;

}

.nav a {
    text-decoration: none;
    padding: 0 10px;
    color: white;
}

.nav .creating {
    height: 30px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.container {
    /*background-color: red;*/

    /*让版心紧挨着导航栏*/
    height: calc(100% - 50px);
    width: 1000px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.container .left {
    /*background-color: blue;*/
    height: 100%;
    width: 200px;
}

.container .right {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100%;
    width: 795px;
    padding: 15px;
    border-radius: 20px;

    /*    如果内容超出范围，自动添加滚动条*/
    overflow: auto;
}

.card {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px;
    border-radius: 20px;


}

.card img {
    height: 140px;
    width: 140px;
    border-radius: 70px;

}

.card h3 {
    text-align: center;
    padding: 10px;
}

.card a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #999;
    padding: 10px 0;
}

.card .counter {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}




